*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

html{
 font-size: 62.5%;
}

header{
    padding: 4rem 2.4rem 0 ;
    margin-bottom:6.4rem
}
body{
    background-image: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-position: top -20rem right -20rem;

}

h1{
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.46px;
  color: #191826;
}
.hero p{
    font-size: 1.6rem;
    line-height: 1.63;
    margin-top: 2rem;
    color: #191826;

}
.hero{
    padding-inline: 2.4rem;
    margin-bottom: 16.6rem;
}
.mobile-offer img{
    width: 20rem;
    height: 43rem;
    position: absolute;
    top: -10rem;
}
.mobile-1{
    height: 60rem;
    background-color: #191826;
    border-radius: 12px;
    justify-content: center;
    display: flex;
    position: relative;
    background-image: url(./images/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: 5% top;
}

.details{
    padding: 4.8rem 3.6rem;
    background-color: #fa7453;
    position: relative;
    margin-top: -18rem;
}
.details h2{
    margin-bottom: 12px;
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.25;
    color: #fcfaf9;

}
.description{
    font-size: 1.8rem;
    line-height: 1.56;
    color: #fcfaf9;
    margin-block: 1.2rem 4rem;

}
.pricing{
    font-size: 6.5rem;
    font-weight: bold;
    line-height: 0.8;
    color: #fcfaf9;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
 .pricing span{
    font-size: 2rem;
    line-height: 1.6;
    letter-spacing: -0.2px;
    color: #fcfaf9;
}
.buttons{
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        margin-top: 3.2rem;
        
}
.buttons button{
   width: 100%; 
   height: 6.1rem;
   border-radius: 1.2rem;
   border: unset;
   font-family: 1.8rem;
   text-align: center;
   line-height: 1.78rem;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.8rem;
}

.ios{
    background-color: #191826;
    transition: 1s;

}

.ios:hover{
    background-color: aqua;
}
.android{
    background-color:white;
    transition:1s;
}
.android:hover{
    background-color: green;
}

.footer p{
    margin-block: 3.2rem 6.4rem;
    font-size: 1.6rem;
    line-height: 1.63;
    color: #191826;
}

.footer a{
   display: block;
   font-weight: bold;
   color: black;
}

.social{
    gap: 2rem;
    display: flex;
}

.social a{
    text-decoration: none;
    cursor: pointer;
}
footer{
    margin-top: 6.4rem;
    padding-inline: 2.4rem;
    padding-bottom: 8rem;
}
@media (min-width:729px){
    body{
        padding-inline: 3.3rem;
        background-image: url(./images/bg-pattern-1.svg);
        background-position: top -10rem right -5rem;
    }
    .hero{
        padding: 0;
        margin-bottom: 25rem;
    }
    h1{
        font-size: 6.4rem;
        line-height: 1;
    }
    .hero p{
        font-size: 1.8rem;
        margin-top: 2.8rem;
    }
    .mobile-offer img{
        width: 27rem;
        height: 55.6rem;
        position: absolute;
        left: 6.4rem;

        top: -20rem;
    }

    .mobile-offer{
        height: 60rem;
        background-position: left 50% top 4rem;
        position: relative;
    }

    .details{
        border-radius: 1.2rem;
        padding: 4.8rem 5.4rem;
        position: absolute;
        width: 40rem;
        bottom: -9rem;
        right: 7.8rem;
        bottom: -50rem;
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3.2rem;
    }
    footer p{
        max-width: 40rem;
    }
    .offer{
        margin-bottom: 18.3rem;
    }

}